In [22]:
import pandas as pd
import torch.nn as nn
from sklearn.model_selection import train_test_split
import torch

In [5]:
df = pd.read_csv('dataset_beta.csv',header=None)

In [15]:
df

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500
0,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,2,0,2,2,0,...,0,0,0,0,0,0,0,0,0,1
2,0,3,1,0,0,2,0,3,1,0,...,0,0,0,0,0,0,0,0,0,1
3,0,2,1,0,1,0,0,0,255,254,...,0,0,0,0,0,0,0,0,0,1
4,2,0,2,253,255,252,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1692,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
1693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
1694,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
1695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
1696,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9

In [16]:
r = df.to_numpy()

In [17]:
r

array([[1, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 3, 1, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 9],
       [0, 0, 0, ..., 0, 0, 9],
       [0, 0, 0, ..., 0, 0, 9]])

In [20]:
y = df[2500]
x = df.drop([2500],axis=1)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.25)

In [25]:
X = torch.from_numpy(X_train.to_numpy())
Y = torch.from_numpy(y_train.to_numpy())
X_test = torch.from_numpy(X_test.to_numpy())
y_test = torch.from_numpy(y_test.to_numpy())